extends layout
block contents
  h1 home page contents block
  form(action='/suggestion', method='post')
    label Please type suggestion 
      input(type='text', name='suggestion')
    button(type='submit') Submit
      
