extends layout
block contents
  h1 home page contents block
  form(action='/suggestions', method='post')
    label Please type suggestion 
      input(type='text', name='username')
    button(type='submit') Submit
      
